page-login {

    .background{
        background-image: url(../assets/loginBack.jpg);
        background-repeat: no-repeat center center fixed;
        background-size: cover;
    }

    //Circle  is here

    .img-circle {
        position: relative;
        background-image: url(../assets/loginImage.jpg);
        background-repeat: no-repeat center  center fixed;
        background-size: cover;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .imgSpan {
        text-align:center;
        width:100%;
        background:white;
        bottom:0;
        padding:20px 0;
        opacity:0.5;
    }
    .imgCol{
        position: relative;
        margin-top: 19%;
    }
    .img-thumbnail {
        display:inline-block;
        overflow: hidden;
        height: 150px;
        border: 1px solid #000;
    }
    
    //ends here
     //last input line comes solution is here
     .list-md .item-input:last-child{
        border-bottom: none;
    }
    .list-md > .item-block:last-child .item-inner{
        border-bottom: 1px solid #dedede;
    }
    //solution ends here
    //login input is here
    
    .loginText{
        position: relative;
        margin-left: 40%;
        margin-top: 10%;
    }
    .text-input-md{
        margin: 25px 0px 8px 20px;
    }

    .inputClass{
        position: relative;
        width: 100%;
       // left: 15%;
        //top: 8%;
        padding: 0px 40px 0px 40px;
    }
    .item-md{
        padding: 16px 0px;
        background-color: transparent;
    }

    //ends here


    //Button class is here
    .btnClass{
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 15%;
    }
    //end here

    // btn 2 class
    .btn2Class{
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 10%;
    }
    //end here

    .item-md.item-input.item-input-has-focus .item-inner,
        .item-md.item-input.input-has-focus .item-inner {
            border-bottom-color: #dedede;
            -webkit-box-shadow: none; 
            box-shadow: none;
    }
    .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
        border-bottom-color:#dedede;
        -webkit-box-shadow: none;
        box-shadow: none;
    }  
    //Media Query
    @media (min-width: 320px ) and (max-width: 479px) {
        .loginText{
            position: relative;
            margin-top: 10%;
        }
        .btnClass{
            position: relative;
            width: 100%;
            text-align: center;
            margin-top: 8%;
        }
        .btn2Class{
            position: relative;
            width: 100%;
            text-align: center;
            margin-top: 8%;
        }
        .inputClass{
            position: relative;
            width: 100%;
           // left: 15%;
            //top: 8%;
            padding: 0px 20px 0px 20px;
        }
        .item-md{
            padding: 8px 0px;
        }
        .text-input-md{
            margin: 0px 0px 0px 20px;
        }
        .img-circle {
            position: relative;
            background-image: url(../assets/loginImage.jpg);
            background-repeat: no-repeat center  center fixed;
            background-size: cover;
            border-radius: 50%;
            width: 120px;
            height: 120px;
        }
        .imgSpan {
            text-align:center;
            width:100%;
            background:white;
            bottom:0;
            padding:20px 0;
            opacity:0.5;
        }
        .imgCol{
            position: relative;
            margin-top: 10%;
        }
        .img-thumbnail {
            display:inline-block;
            overflow: hidden;
            height: 120px;
            border: 1px solid #000;
        } 
        .background{
            background-image: url(../assets/loginBack320x479.jpg);
            background-repeat: no-repeat center center fixed;
            background-size: cover;
        } 
        //inout back ground box sol
        .item-md.item-input.item-input-has-focus .item-inner,
        .item-md.item-input.input-has-focus .item-inner {
            border-bottom-color: none;
            -webkit-box-shadow: none; 
            box-shadow: none;
        }  
    }


    //important media queries to apply
    // @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
    // @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
    // @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
    // @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
    // @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
    // @media (min-width:1281px) { /* hi-res laptops and desktops */ }
}
