page-faculty-dashboard {
    //tool bar or header css here
    .toolbar-background-md{
        background: transparent;
    }
    .navBarClass{
        text-align: center;
    }
    .toolbar-title-md{
        color: #E60052;
    }
    //end of header css

    //menu btn color
    .bar-button-default-md{
        color: #E60052;
    }

    //header image remover
    .header-md::after{
        background-image: none ;
    }  
    .button-md{
        height: 1.5rem;
    } 

    // column classs
    .colBtnClass{
        padding: 0px;
    }

    //btn margin
    .selectBtnClass{
        margin-bottom: 8px;
    }

    // label css 
    .label-md {
        margin: 8px 8px 8px 0;
    }

    //button css 
    .button-md{
        color: #E60052;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow : none;
    }
    .button-md:hover:not(.disable-hover){
        background-color: transparent;
    }
    .button-md.activated{
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #E60052;
        background-color: transparent;
    }
}
