page-faculty-dashboard {
    //tool bar or header css here
    .toolbar-background-md{
        background: transparent;
    }
    .navBarClass{
        text-align: center;
    }
    .toolbar-title-md{
        color: #E60052;
    }
    //end of header css
}
