page-slider {
    //next button is here
    .bottom{
       // background-color: black;
        position:absolute;
        bottom:0;
        left: 5%;
    }
    //bullet color is here
    .swiper-pagination-bullet-active{
        background-color: #E60052 !important;
    }

    //pagination bottom width
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0px;
    }

    //main content background
    .mainBackground{
        background-image: url(../assets/signUpBackground.jpg);
        background-repeat: no-repeat center center fixed;
        background-size: cover;
    }
    //slider div
    .mainSlides{
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        max-height: 300px;
    }
    //welcome text is here
    .welcomeText{
        position: relative;
        text-align: center;
        color: white;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
    }
    //welocme div for image
    .welcomeDiv{
        background-image: url(../assets/welcomeImage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    //welcome div for text 
    .welcomeTextDiv{
        position: relative;
        margin-top: 20%;
    }
    // back to login btn
    .backBtn{
        background-color: transparent;
        color: #E60052;
        font-size: 1.3em;
    }
    .backBtndiv{
        position: relative;
        float: left;
        margin: 20px 0px 0px 0px;
        text-align: center;
        width: 100%;
    }
    .footer-md::before{
        background-image: none !important;
    }
    .button-md{
        webkit-box-shadow: none;
        box-shadow: none;
    }
    //ends here


    //left arrow defined here
    //btn activated color
    .button-md.activated{
        background-color: transparent;
        box-shadow: none;
    }
    .leftArrowDiv{
        position: relative;
        float: left;
        text-align: center;
        margin: 20px 0px 0px 20px;
    }
    .leftArrow{
        padding-left: 10px;
    }
    .button-md{
        background-color: transparent;
        color: #E60052;
    }
    //right arrow is here
    .rightArrow{
        padding-left: 35px;
    }
    .rightArrowDiv{
        position: relative;
        float: left;
        text-align: center;
        margin: 20px 0px 0px 20px;
    }
}
