page-sign-up-faculty {
    //background image class
    .backImg{
        background-image: url(../assets/signUpBackground.jpg);
        background-repeat: no-repeat center center fixed;
        background-size: cover;
    }

    // sign up text class here
    .signUpText{
        position: relative;
        text-align: center;
        color: white;
        font-size: 3.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    //form div is here
    .formDiv{
        position: relative;
        margin-top: 10%;
        background-color: white;
        text-align: center;
        border-radius: 10px;
       // box-shadow: 5px 10px #1c000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    }
    .formList{
        margin-top: 10px;
    }
    .item-md{
        margin: 10px;
        padding: 10px 0px;
    }
    .list-md{
        margin: 20px;
    }

    //nextBtn is here
    .nextBtn{
        position: relative;
        margin-top: 10%;
        margin-bottom: 10%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    }
}
