page-sign-up-faculty {
    //background image class
    .backImg{
        background-image: url(../../assets/signUpBackground.jpg);
        background-repeat: no-repeat center center fixed;
        background-size: cover;
    }

    // sign up text class here
    .signUpText{
        position: relative;
        text-align: center;
        color: white;
        font-size: 3.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .formDiv{
        position: relative;
        margin-top: 10%;
    }

    //nextBtn is here
    .nextBtn{
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 15%;
    }
}
