page-entry-slides {

    //background image
    .mainBackground{
        background-image: url(../assets/signUpBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-app.md [padding]{
        padding: 0px;
    }
    // sign up text class here
    .signUpText{
        position: relative;
        text-align: center;
        color: white;
        margin: 0px 0px 10px 0px;
        font-size: 3.5em;
        font-family: Arial, Helvetica, sans-serif;
    }
    //form div is here
    .formDiv{
        position: relative;
        float: left;
        width: 100%;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        //box-shadow: 5px 10px #1c000000;
       // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        webkit-box-shadow: none;
        box-shadow: none; 
       // margin-top: 20px;  
    }
    //last input line comes solution is here
    .list-md .item-input:last-child{
        border-bottom: none;
    }
    .list-md > .item-block:last-child .item-inner{
        border-bottom: 1px solid #dedede;
    }
    //solution ends here
   
    .item-md{
        margin: 10px;
        padding: 10px 10px 10px 0px;
    }
    .button-md{
        margin: 0px;
        padding: 0px;
    }
    //nextBtn is here
    .nextBtn{
        position: relative;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    //Faculty Css ends here

    //header background
    .header-md::after{
        background-image: none;
    }
    //btn bakground shadow
    .button-md{
        webkit-box-shadow:none;
        box-shadow: none;
      //  background-color: transparent !important;
    }
    //activated btn 
    .button-md.activated{
        webkit-box-shadow:none;
        box-shadow: none;
        background-color: transparent;
    }

    //upper div starts here
    //outer Div for button
    .outerDiv{
        position: relative;
        float: left;
        width: 100%;
    }
    //mainDiv for faculty button
    .mainDiv{
        position: relative;
        float: left;
        width: 50%;
        text-align: center;
    }
    //innerDiv for ins btn
    .innerDiv{
        position: relative;
        float: left;
        width: 50%;
        text-align: center; 
    }
    //upper div ends here

    //faculty Btn clas
    .facultyBtnClass{
        background-color: transparent ;
    }
    // .facultyBtnClass:focus{
    //     background-color: #E60052;
    // }
    .button-md:hover:not(.disable-hover){
        background-color: transparent;
    }
    //ins btn
    .insBtnClass{
        background-color: transparent ;
    }
    // .insBtnClass:focus{
    //     background-color: #E60052;
    // }

    //box-shadow is here
    .swiper-container.swiper-container-horizontal{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
        border-radius: 10px;
    }

    // back to login btn
    .backBtn{
        background-color: transparent;
        color: #E60052;
    }
    //back button icon
    .backClass{
        position: relative;
        float: left;
        margin: 5px;
    }
    .backBtndiv{
        position: relative;
        float: left;
        margin: 20px 0px 0px 0px;
        text-align: center;
        width: 100%;
    }
    //ends here back btn
    .button-ios.activated{
        background-color: transparent;
    }

    .someClass{
        background-color: #E60052;
    }
    .some2Class{
        background-color: #E60052;
    }

    //ion item going outward solution
    .list-md{
        margin : 10px 10px 0px ;
    }
    //720 x 1280 - redmi 5a --> 296 ppi density
   
    @media (min-width: 411px) and (max-width: 731px) {
    
        .signUpText{
            position: relative;
            text-align: center;
            color: white;
            margin : 0px 0px 20px 0px;
            font-size: 4em;
            font-family: Arial, Helvetica, sans-serif;
        }
    
    }
    @media (min-width: 320px ) and (max-width: 479px) {
                
    }
}
