page-faculty-form {
    //circle is here
    .img-circle {
        position: relative;
        //left: 55%;
        //bottom: 8px;
        background:#9b9999;
        border-radius: 50%;
    }
    .addImgBtn{
        background-color: transparent;
    }
    .imgSpan {
        background-image: url(../assets/imgs/addImage.png);
        background-repeat: no-repeat;
        background-size: auto;
        text-align:center;
        width:100%;
       // background:white;
        bottom:8px;
        left: 6px;
        padding:20px 0;
        opacity:0.5;
    }
    .imgCol{
        text-align: left;
        width: 20%;
        margin: 0%;
        //margin-left: 40px;
    }
    .img-thumbnail {
        display:inline-block;
        overflow: hidden;
        height: 50px;
       // border: 1px solid #000;
        //box-shadow: 0 2px 0 2px #dbdbdb;
    }

    //text col
    .textCol{
        text-align: left;
    }
    //ends here

    //Add image text
    .addText{
        font-size: 1.2em;
    }

    //gender is here
    .appForm{
        margin: 10px;
    }
    .female{
        background-image: url(../assets/imgs/female-50.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .male{
        background-image: url(../../assets/imgs/male-pink-50.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .radio-md .radio-icon{
        border-color: #c0c0c0;   
    }
    .radio-md .radio-checked{
        border-color: #c0c0c0;
    }
    .item-md.item-block .item-inner{
        padding-right: 100%;
    }
    .radio-md .radio-inner{
        background-color: #E60052;
    }
    .item-md.item-block .item-inner{
        border-bottom: none;
    }
    //gender ends here
    //next btn
    .nextBtnClass{
        position: relative;
        text-align: center;
    }

    //custom icon of ADD is here
            // ion-icon {
            //     &[class*="jobguru-"] {
            //         // Instead of using the font-based icons
            //         // We're applying SVG masks
            //         mask-size: contain;
            //         mask-position: 50% 50%;
            //         mask-repeat: no-repeat;
            //         background:transparent;
            //         width: 1em;
            //         height: 1em;
            //     }
            //     // custom icons
            //     &[class*="appname-customAddIcon"] {
            //         mask-image: url(../../assets/imgs/Add.svg);
            //     }
            // }
    //ends here

    //Accordian
    .card-header{
        background-color:  #E60052;
        color: #fff;
    }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }
    //accordian ends here

    //checkbox setup here
    .item-md.item-block .item-inner{
        padding: 0;
    }
    .item.item-md .checkbox-md{
        margin : 9px 15px 9px 4px;
    }
    //label is here
    .label-md{
        margin: 13px 8px 13px 10px;
    }
    .labelClass{
        font-size: 1.4em;
        color: #E60052;
    }

    //qualification div is here
    .qualDiv{
        padding: 0px 0px 10px 0px;
    }
    //experience div is here
    .expDiv{
        padding: 0px 0px 10px 0px;
    }
    //terms and condition div is here
    .termConditionDiv{
        padding: 0px 0px 10px 0px;
    }

    //qual add btn
    .button-md{
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow : none;
    }
    .button-md.activated{
        background-color: transparent;
    }
    .button-md:hover:not(.disable-hover){
        background-color: transparent;
    }
    .qualBtnClass{
        margin-top: 7px;
        color: #E60052;
    }
    .qualBtnColClass{
        position: relative;
        float: left;
        text-align: right;
    }
    .qualGrid{
        padding: 0px;
    }
    //qual add ends here

    //school inner div for button is here
    .schExpInnerDiv{
        background: transparent;
    }
    //inner div for btn ends here
    //sch outer div is here
    .schExpOuterDiv{
        position: relative;
        text-align: right;
    }
    //oute sch div ends here

    //ion card sch exp is here
    .schExpCard{
        padding: 5px 10px 10px 10px;
        box-shadow: 0 8px 22px 0 rgba(239, 239, 239, 1.0), 0 8px 17px 0 rgba(239, 239, 239, 1.0);
    }
    .card-md{
        margin: 0px 10px 10px 10px;
    }
    //ion card sch exp ends here
    //ion card sch exp is here
    .schExpCard{
        padding: 10px;
        box-shadow: 0 8px 22px 0 rgba(239, 239, 239, 1.0), 0 8px 17px 0 rgba(239, 239, 239, 1.0);
    }
    //ion card sch exp ends here

    //qualification card is here
    .qualCardClass{
        padding: 10px;
        box-shadow: 0 8px 22px 0 rgba(239, 239, 239, 1.0), 0 8px 17px 0 rgba(239, 239, 239, 1.0);
    }
    //qual card ends here

    //institute exp card/div is here
    .insExpCard{
        padding: 10px;
        box-shadow: 0 8px 22px 0 rgba(239, 239, 239, 1.0), 0 8px 17px 0 rgba(239, 239, 239, 1.0);
    }
    .insExpDiv{
        margin-top: 30px;
    }
    //ins card/div ends here
    //ion grid , row and col css here
    .grid{
        padding: 0px;
    }
    .col{
        padding: 0px ;
    }
    [col-3]{
        padding: 0px;
    }
    //ion grid row col css ends here

    .ExpAddBtnClass{
        margin-top: 7px;
    }
    .expColClass{
        position: relative;
        float: left;
        text-align: right;
    }
    .expGrid{
        padding: 0px;
    }

    //date and time
    .datetime-md{
        padding : 13px 8px 13px 8px;
    }
    .item-md .radio-md{
        margin: 9px 40px 9px 0px;
    }

    //checkbox
    .checkbox-md .checkbox-checked{
        background-color: #E60052;
        border-color: #E60052;
    }
    //exp alert css bugs to fix soon
    // .alert-md [aria-checked=true] .alert-radio-icon{
    //     border-color: #E60052;
    // }
    // .alert-md .alert-radio-inner{
    //     background-color: #E60052;
    // }   

}

