page-faculty-form {
    //circle is here
    .img-circle {
        position: relative;
        //left: 55%;
        //bottom: 8px;
        background:#9b9999;
        border-radius: 50%;

    }
    .imgSpan {
        background-image: url(../assets/imgs/addImage.png);
        background-repeat: no-repeat;
        background-size: auto;
        text-align:center;
        width:100%;
       // background:white;
        bottom:8px;
        left: 6px;
        padding:20px 0;
        opacity:0.5;
    }
    .imgCol{
        text-align: left;
        width: 20%;
        margin: 0%;
        //margin-left: 40px;
    }
    .img-thumbnail {
        display:inline-block;
        overflow: hidden;
        height: 50px;
       // border: 1px solid #000;
        //box-shadow: 0 2px 0 2px #dbdbdb;
    }

    //text col
    .textCol{
        text-align: left;
    }
    //ends here

    //Add image text
    .addText{
        font-size: 1.2em;
    }

    //gender is here
    .appForm{
        margin: 20px;
    }
    .female{
        background-image: url(../assets/imgs/female-50.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .male{
        background-image: url(../assets/imgs/male-50.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .radio-md .radio-icon{
        border-color: #c0c0c0;   
    }
    .radio-md .radio-checked{
        border-color: #c0c0c0;
    }
    .item-md.item-block .item-inner{
        padding-right: 50%;
    }
    .radio-md .radio-inner{
        background-color: #E60052;
    }
    .item-md.item-block .item-inner{
        border-bottom: none;
    }
    //gender ends here
    //next btn
    .nextBtnClass{
        position: relative;
        text-align: center;
    }

    //custom icon of ADD is here
    ion-icon {
        &[class*="jobguru-"] {
            // Instead of using the font-based icons
            // We're applying SVG masks
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background:transparent;
            width: 1em;
            height: 1em;
        }
        // custom icons
        &[class*="appname-customAddIcon"] {
            mask-image: url(../../assets/imgs/Add.svg);
        }
    }
    //ends here
}
