
<!-- new user header -->
<ion-content padding>
    <h1 style=" font-size: 2.0em;
                font-family:sans-serif;
                position: relative;
                margin-top: 5%; 
                width: 100%;
                text-align: center;">NEW USER</h1>
  
  <!-- add image option -->
    <ion-grid style="position: relative; margin-top: 10%;">
      <ion-row>
        <button class="addImgBtn" (click)="addImg()">
          <ion-col class="imgCol" width-20>
              <div class="img-thumbnail img-circle">
                <div style="position: relative; padding: 0; cursor: pointer;" type="file">
                  <img class="img-circle" style="width: 50px; height: 50px;" >
                  <span style="position: absolute;" class="imgSpan"></span>
                </div>
              </div>  
          </ion-col>
        </button>
        
        <ion-col class="textCol"> 
          <p class="addText">ADD LOGO</p> 
        </ion-col>
      </ion-row>
    </ion-grid>
  

  <!-- website is here -->

    <ion-item>
      <ion-label>Website</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-label>
      Address
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label >State</ion-label>
            <ion-select formControlName="country" (ionChange)="onCountryChange()">
              <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
            </ion-select>
          </ion-item>
      
          <ion-item>
            <ion-label >City</ion-label>
            <ion-select formControlName="state">
              <ion-option *ngFor="let state of states" [value]="state">{{state}}</ion-option>
            </ion-select>
          </ion-item>
      </form>
    </ion-label>
     

    <!-- Do you have any branch -->
    <div>
      <ion-label>Do you have any branch ?</ion-label>
      <ion-grid>
        <ion-list radio-group>
          <ion-row>                    
            <ion-col>
                <ion-item>
                  <ion-label>Yes</ion-label>
                  <ion-radio value="true"></ion-radio>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>No</ion-label>
                    <ion-radio value="false"></ion-radio>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>  
      </ion-grid>
    </div>

    <div>
      <ion-label>Do you want any test material ?</ion-label>
        <ion-grid>
            <ion-list radio-group>
              <ion-row>
                <ion-col>
                    <ion-item>
                      <ion-label>Yes</ion-label>
                      <ion-radio value="true"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio value="false"></ion-radio>
                    </ion-item>
                </ion-col>
              </ion-row>
            </ion-list>  
         </ion-grid>
      </div>

</ion-content>
